src/main/resources/RegXMLFiles/EmployeeRoles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EmployeeRoles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EmployeeRole" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EmployeeRoleID" type="xs:int"/>
                            <xs:element name="RoleType" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
